<header>
  </div>
  <ul class="header-menus">
    <li>ポーカーハンドチェッカー</li>
  </ul>
</header>

<div class="about-main">
  <p>
  <center>
   
    トランプのカードをスート(S,D,C,H)，ランク(2,3,4...13,1)で入力してください，
    <br>
    ＊カードごとに半角スペースを開けて入力する必要があります．

  </center>

  </p>
  <%= form_tag({controller: 'home',action: 'evaluate_hand'}, method: :post) do%>

    <div class="form">
      <div class="form-body">
        <textarea name = "hand"></textarea>
        <input type="submit" value="役を確認">
      </div>
    </div>
  <% end %>

  <p>
  <center>
    <%= @input_string %>
    <br>
    <%= @result %> 
  </center>
  </p>
</div>
